<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Click to start planning your smart floors</h2>
  <button *ngIf="!camera" class="btn btn-primary" (click)="startRecording()">Start</button>
  <button *ngIf="camera" class="btn btn-warning" (click)="endRecording()">End</button>
  <div class="cameraspace" *ngIf="camera">
    <a-scene embedded arjs="sourceType: webcam">
      <a-marker type="pattern" preset="custom" url="../assets/patterns/pattern-FirePanel.patt">
        <a-entity obj-model="obj: url(../assets/models/Moon.obj); mtl: url(../assets/models/Moon.mtl)">
        </a-entity>
      </a-marker>
      <a-marker type="pattern" preset="custom" url="../assets/patterns/pattern-LAN.patt">
        <a-entity obj-model="obj: url(../assets/models/Moon.obj); mtl: url(../assets/models/Moon.mtl)">
        </a-entity>
      </a-marker>
      <a-marker type="pattern" preset="custom" url="../assets/patterns/pattern-ACvent.patt">
        <a-entity obj-model="obj: url(../assets/models/Moon.obj); mtl: url(../assets/models/Moon.mtl)">
        </a-entity>
      </a-marker>
      <a-marker type="pattern" preset="custom" url="../assets/patterns/pattern-Blinds.patt">
        <a-entity obj-model="obj: url(../assets/models/Moon.obj); mtl: url(../assets/models/Moon.mtl)">
        </a-entity>
      </a-marker>
      <a-marker type="pattern" preset="custom" url="../assets/patterns/pattern-ElectricalWires.patt">
        <a-entity obj-model="obj: url(../assets/models/Moon.obj); mtl: url(../assets/models/Moon.mtl)">
        </a-entity>
      </a-marker>
      <a-marker type="pattern" preset="custom" url="../assets/patterns/pattern-FirePanelController.patt">
        <a-entity obj-model="obj: url(../assets/models/Moon.obj); mtl: url(../assets/models/Moon.mtl)">
        </a-entity>
      </a-marker>
      <a-marker type="pattern" preset="custom" url="../assets/patterns/pattern-Light.patt">
        <a-entity obj-model="obj: url(../assets/models/Moon.obj); mtl: url(../assets/models/Moon.mtl)">
        </a-entity>
      </a-marker>
      <a-marker type="pattern" preset="custom" url="../assets/patterns/pattern-LightSensor.patt">
        <a-entity obj-model="obj: url(../assets/models/Moon.obj); mtl: url(../assets/models/Moon.mtl)">
        </a-entity>
      </a-marker>
      <a-marker type="pattern" preset="custom" url="../assets/patterns/pattern-Sprinkler.patt">
        <a-entity obj-model="obj: url(../assets/models/sprinkler.obj)">
        </a-entity>
      </a-marker>
      <a-entity camera></a-entity>
    </a-scene>
  </div>
</div>

